@import "~@/assets/css/variable.styl"

.panel-container
  margin-top: .4rem
  .panel-title
    font-size: .3rem
    color: $color-yellow
  .panel-list
    padding-left: .1rem
    font-size: .2rem
    li
      display: flex
      margin-top: .1rem
      opacity: .8
      font-weight: 400
      span
        cursor: pointer
        text-decoration: underline
      &:hover
        opacity: 1
        font-weight: 600
        span
          text-decoration: none
