body, html
  margin: 0
  padding: 0
  width: 100%

h1, h2, h3, h4,
p, span
  display: block
  margin: 0
  padding: 0
  background: transparent

ol, ul
  margin: 0
  padding: 0
  list-style: none

a
  text-decoration: none
