@import "~@/assets/css/variable.styl"

.header
  display: flex
  align-items: center
  justify-content: space-between
  height: .6rem
  background: $color-light-red
  box-shadow: 0 0 .2rem $color-light-red
  .header-left
    display: flex
    align-items: center
    margin-left: .3rem
    height: 100%
    font-size: .32rem
    img
      max-height: 100%
      max-width: 100%
  .header-right
    display: flex
    align-items: center
    height: 100%
    margin-right: .3rem
    font-size: .2rem
