@import "~@/assets/css/variable.styl"

.header
  display: flex
  align-items: center
  height: .6rem
  padding-left: .3rem
  background: $color-light-red
  font-size: .32rem
  box-shadow: 0 0 .2rem $color-light-red
  img
    max-height: 100%
    max-width: 100%
